<!DOCTYPE html>
<html lang="en">
<head>

    <% include ../_partials/head %>
    <!-- <link rel="stylesheet" href="http://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"> -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="./stylesheets/regulasi/newregulasi.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.bootstrap4.min.css">
  <style>
    .pdfobject-container { height: 500px;}
    .pdfobject { border: 1px solid #666; }
    div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate {
      display: flex;
      justify-content: center;
    }
    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
      margin: 22px 0;
    }
    .dtr-data {
      display: flex !important;
    }
    .arsip {
      padding-top: 60px;
    }
    .modal {
      transition: all .4s ease;
    }
    .modal.active {
      display: block;
      visibility: visible;
      opacity: 1;
      background: rgba(0,0,0,0.9);

    }
  </style>
  <title>Document</title>
</head>
<body>
  <div class="navbar-menu"></div>

  <% include ../_partials/popup_login %>

  <% include ../_partials/navbar %>
  <section id="regulasi-arsip">    
    <div class="modal fade" id="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Arsip</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p><b>jenis naskah</b></p>
            <p class="jenis-naskah--text">...</p>

            <p><b>jumlah berkas</b></p>
            <p class="jumlah-berkas--text">...</p>

            <p><b>masalah</b></p>
            <p class="masalah--text">...</p>

            <p><b>pejabat penanda tangan</b></p>
            <p class="pejabat-penanda-tangan--text">...</p>

            <p><b>tingkat perkembangan</b></p>
            <p class="tingkat-perkembangan--text">...</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="list-title">Daftar Arsip</div>
      <!--     <div class="search-form">
            <form action="/arsip" method='get'>
              <div class="form-group">
                <div class="input-group mb-3">
                  <div class="custom-file">
                    <input type="text" name='search' class="form-control" id="inputGroupFile02">
                  </div>
                  <div class="input-group-append">
                    <button type="submit" class="input-group-text" id="">Cari</button>
                  </div>
                </div>
              </div>
            </form>
          </div> -->
          <table class="table table-striped dt-responsive nowrap" id="arsip-table" style='width: 100%;'>
            <thead>
              <tr class="table-light">
                <th>No</th>
                <th>masalah</th>
                <th>no surat</th>
                <th>tgl surat</th>
                <th>jenis naskah</th>
                <th>pejabat penanda tngan</th>
                <th>jumlah berkas</th>
                <th>tingkat perkembangan</th>
                <th>no boks</th>
                <th>aksi</th>
              </tr>
            </thead>
            <tbody>
              <% archive.map(function(obj , i) { %>
                <tr class="table-light">
                  <td><%= i + offset + 1%></td>
                  <td style="width: 300px;"><%= obj.masalah%></td>
                  <td><%= obj.nomor_surat%></td>
                  <td><%= obj.tgl_surat%></td>
                  <td><%= obj.jenis_naskah%></td>
                  <td><%= obj.pejabat_penanda_tangan%></td>
                  <td><%= obj.jumlah_berkas%></td>
                  <td><%= obj.tingkat_perkembangan%></td>
                  <!-- <td><%= obj.user_id.username%></td> -->
                  <td><%= obj.no_boks %></td>
                  <td style="display: flex;">
                    <a href='#' data-target='#modal' data-toggle='modal' data-id="/arsip/<%= obj._id%>" class="btn btn-primary btn-sm btn-modal">
                      <span class="ion-search" data-glyph="magnifying-glass"></span>
                    </a>
                    <% if (user) { %>
                      <% if (obj.user_id.username === user.username) { %>
                        <a href="/arsip/edit/<%= obj._id%>" class="btn btn-secondary btn-sm">
                          <span class='ion-edit'></span>
                        </a>
                        <form action="/deletearsip" method='post' id="form-delete">
                          <input type="hidden" name='_id' value='<%= obj._id %>'>
                          <button type="submit" class="btn btn-danger btn-sm btn-delete">
                            <span class='ion-close-circled'></span>
                          </button>
                        </form>
                      <% } %>
                    <% } %>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
          <div>
            <p class='isSearch' style="visibility: hidden;"><%= isSearch %></p>
            <% if (isSearch) { %>
              <p class='<%= isSearch ? "search-val" : "search-val-none"%>' style="visibility: hidden;"><%= search %></p>
            <% } %>
            <% if (!isSearch)  {%>
          <!--     <ul class="pagination">
                <% if (pageStart > 1) { %>
                  <li class="page-item">
                    <a class="page-link" href="arsip/?page=<%= pageStart - 1%>">&laquo;</a>
                  </li>
                <% } %>
                <% for (var i = pageStart; i < lastPage; i ++)  {%>
                  <li class="page-item <%= i === page ? "active" : "" %>">
                    <a href="/arsip?page=<%= i %>" class="page-link"> <%= i %> </a>
                  </li>
                <% } %>
                <li class="page-item">
                  <a class="page-link" href="#">&raquo;</a>
                </li>
              </ul> -->
            <% } %>
          </div>
        </div>
      </div>
      <hr>
      <% if (user) { %>
        <div class="row">
          <div class="col-md-4">
            <form action="/archive" method='post' enctype="multipart/form-data">
              <div class="form-group">
                <h5>Upload Arsip</h5>
                <div class="input-group mb-3">
                  <div class="custom-file">
                    <input type="file" name='archive' accept=".csv" class="custom-file-input" id="inputGroupFile02">
                    <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                  </div>
                  <div class="input-group-append">
                    <button type="submit" class="input-group-text" id="">Upload</button>
                  </div>
                </div>
              </div> 
            </form> 
          </div>
          <div class="col-md-4">
            <h5>Isi data manual</h5>
            <a href='/arsip/add' class="btn btn-success">Tambah</a>
          </div>
        </div>
      <% } %>
    </div>
  </section>

    <div class="ornament-city"></div>
    <div class="section fp-auto-height n-footer fix">
      &copy; copyright dokumen arsip jakarta
    </div>
  
  </div>

  <!-- additional script -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src='js/main.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js'></script>
  <script src='http://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js'></script>
  <script src='https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js'></script>
  <script src='https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js'></script>
  <script src='https://cdn.datatables.net/responsive/2.2.1/js/responsive.bootstrap4.min.js'></script>
  <script>
    $(document).ready(function() {
      
      (function() {
        var url = window.location.origin + '/arsipdata'
        return fetch(url)
          .then(response => response.json())
          .then(data => {
            console.log(data)
          })
      }())

      var table = $('#arsip-table').DataTable({ responsive: true })
      var isSearch = $('.isSearch').html() 
      if (isSearch === 'true') {
        var search_val = $('.search-val').html()
        table.search(search_val).draw()
      }

      $('.btn-delete').on('click' , function(event) {
        event.preventDefault()
        var form = event.target.form
        var id = $(this).data('id')
        var url = window.location.origin  + `/delete/${id}`
        var $this = $(this)
        swal({
          title: "Yakin ?",
          text: "Menghapus file tidak bisa dikembalikan",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-danger",
          confirmButtonText: "Hapus!",
          cancelButtonText: "Tidak!",
          closeOnConfirm: false,
          closeOnCancel: false
        },
        function(isConfirm) {
          if (isConfirm) {
            swal("Deleted!", "File kamu telah dihapus.", "success");
            form.submit()
          } else {
            swal("Cancelled", "Your imaginary file is safe :)", "error");
          }
        });
      })

      $('#modal').on('show.bs.modal', function(e) {
        var url = $(e.relatedTarget).data('id')
        var base = window.location.origin + url
        $('.jenis-naskah--text').text('--------------')
        $('.jumlah-berkas--text').text('--------------')
        $('.masalah--text').text('--------------')
        $('.pejabat-penanda-tangan--text').text('--------------')
        $('.tingkat-perkembangan--text').text('--------------')
        console.log(base)
        $.ajax({
          url: base ,
          dataType: 'json' ,
          success: function(data) {
            console.log(data)
            $('.jenis-naskah--text').text(data.jenis_naskah)
            $('.jumlah-berkas--text').text(data.jumlah_berkas)
            $('.masalah--text').text(data.masalah)
            $('.pejabat-penanda-tangan--text').text(data.pejabat_penanda_tangan)
            $('.tingkat-perkembangan--text').text(data.tingkat_perkembangan)
          } ,
          error: function(req , status , error) {
            console.log(req)
          }
        })
      }); 

      // $('.btn-modal').on('click' , function() {
      //   console.log('modal clicked')
      //   $('.modal').toggleClass('active')

      // })

      $('.close').on('click' , function() {
        $('.modal').removeClass('active')
      })
    })
  </script>
</body>
</html>
